body { 
    overflow-x: hidden;
    color:white;
}

#gumbPosaljiPoruku{ 
  width:40%;
}

.forma{ 
  width:70%;
  padding:10px;
  background:none;
  border:none;
  border-bottom: 1px solid black;
  font-size: 14px;
  transition: border-color .2s;
}

.boja{
    background-color: #031625;
}

#timeline {
    display: flex;
}
#timeline:hover .tl-item {
    width: 100%;
}
.tl-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size:2rem;
    overflow: hidden;
    transition: width 0.5s ease;
}
.tl-item:before, .tl-item:after {
    transform: translate3d(0, 0, 0);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.tl-item:after {
    background: rgba(3, 22, 37, 0.85);
    opacity: 1;
    transition: opacity 0.5s ease;
}
.tl-item:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 75%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.tl-item:hover:after {
    opacity: 0;
}
.tl-item:hover:before {
    opacity: 1;
}
.tl-item:hover .tl-content {
    opacity: 1;
    transition: all 0.75s ease 0.5s;
}
.tl-item:hover .tl-bg {
    filter: grayscale(0);
}

.tl-content h1 {
    text-transform: uppercase;
    color: #055194;
    font-size: 3rem;
    font-weight: normal;
}
.tl-year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}
.tl-year p {
    font-size: 3rem;
    line-height: 0;
    text-align: center;
}
.tl-bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
}

.btn-grad {
  background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
  margin: 5px;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;          
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: black;
  text-decoration: none;
}

footer{ 
  background-color: black;
  color:white;
  text-align: center;
  height: 5%;
  padding:20px;
  margin-top:3%;
}
@media (max-width: 1024px) {
  .tl-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    opacity: 0;
    display:none;
  }
  #gumbSaznajVise button{
    text-align: center;
    width:100%;
    padding-top:5%;
  }
  
  ul {
    list-style-type: none;
    text-align: center;
  }
  li a{
      text-decoration: none;
      color:black;
  }
  li a:hover{
      text-decoration: none;
      transition: 0.8s;
      color: black;
  }
  li a::after {   
      content: '';
      width: 0px;
      height: 1px;
      display: block;
      background: black;
      transition: 300ms;
  }
  #poravnanje{
      display: flex;
      align-items: center;
  }
  #gumbSaznajVise{
    width:100%;
    padding-top:5%;
  }

  li{
      font-size: 18px;
      padding-left:3%;
      text-align: center;
      padding:10px;
      text-align: center;
  }

  #ikona{
      padding:5px;
  }
  button{
      cursor: pointer;
      border: 0;
      border-radius: 15px;
      font-weight: 400;
      width: 84%;
      box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
      transition: 0.4s;
  }
  #displayGlavnaNavigacija{
    display:none;
  }
  
  #hambNavigacija{
    visibility: visible;
  }
  .textPocetni{
    color:white;
    text-shadow:1px solid black;
    padding-top:10%;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }
  
  .textPocetni h1{
    font-size: 60px;
  }
  .textPocetni h2{
    font-size: 30px;
  }
}


@media (min-width: 1024px) {
  .tl-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    opacity: 0;
}
  #gumbSaznajVise button{
    text-align: center;
    width: 100%;
    padding:5%;
  }
  
  .kontaktBG{
    background-image: url("../img/kontakt2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height: 45vh;
  }

  .kontaktText{
    color:white;
    padding:5%;
  }

  ul {
    list-style-type: none;
    text-align: center;
  }
  li a{
      text-decoration: none;
      color:white;
  }
  li a:hover{
      text-decoration: none;
      transition: 0.8s;
      color: white;
  }
  li a::after {   
      content: '';
      width: 0px;
      height: 1px;
      display: block;
      background: white;
      transition: 300ms;
  }
  #poravnanje{
      display: flex;
      align-items: center;
  }
  #gumbSaznajVise{
    width:100%;
    padding-top:5%;
  }

  li{
      font-size: 18px;
      padding-left:3%;
      text-align: center;
      padding:10px;
      text-align: center;
  }

  #ikona{
      padding:5px;
  }
  button{
      cursor: pointer;
      border: 0;
      border-radius: 15px;
      font-weight: 400;
      width: 84%;
      box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
      transition: 0.4s;
  }
  
  #hambNavigacija{
    visibility: hidden;
  }
  .textPocetni{
    color:white;
    text-shadow:1px solid black;
    padding-top:10%;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }
  
  .textPocetni h1{
    font-size: 100px;
  }
  .textPocetni h2{
    font-size: 50px;
  }
}


*, *:before, *:after 
{ box-sizing: border-box; }
label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #FFF;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
  
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #69D2e7;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #69d2e7;
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
  border-radius: 0;
  
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
  
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
  
}

label input:checked + .menu + ul { opacity: 1; }

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: #f38630;
  text-decoration: none;
  
}
         
.btn-grad {
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
    margin: 5px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;          
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
  }

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: black;
    text-decoration: none;
}
 
nav{
    background-color: rgba(0,0,0,0.8);
    width:100%;
    margin:0 auto;
}
li a::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: rgb(31, 139, 70);
    transition: 300ms;
}
li a:hover::after {
    width: 100%;
}

#o_nama {
  font-size: 16px;
  padding-top:100px;
  line-height: 150%;
  font-weight: bold;
}
#o_nama img{
  padding-top:5%;
}

#moto {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding:100px;
}

.new1{
  border: 0.0001em solid black;
  width:100%;
}

#motoText{
  padding:50px;
}

#lokacija{
  font-size: 16px;
  padding-top:20px;
  line-height: 150%;
  font-weight: bold;
}

#nadolazeciEventi{
  font-size: 16px;
  padding-top:80px;
  font-weight: bold;
  text-align: center;
}


@media (max-width: 1200px) {
  #gumbSaznajVise{
    width:100%;
    padding-top:5%;
  }

}

@media (max-width: 1000px) {
  #gumbProfil{
    width:80%;
  }
}



@media only screen and (max-width: 992px) {
    body { 
        overflow-x: hidden;
    }
    nav ul {
        list-style-type: none;
    }
    li a{
        text-decoration: none;
        text-align: center;
    }
    li a:hover{
        text-decoration: none;
    }
    li{
        font-size: 15px;
        padding-left:5px;
        text-align: center;
        padding:20px;
    }
    nav{
        text-align: center;
    }
    #poravnanje{
        display:block;
    }
    li a::after {
        content: '';
        width: 0px;
        height: 1px;
        display: block;
        background: rgb(31, 139, 70);
        transition: 300ms;
    }
    li a:hover::after {
        width: 100%;
    }
    .pocetna{
        background-image: url("img/naslovna1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width:100%;
        height: 120vh;
    }
    button{
        width:50%;
        text-align: center;
    }

}

@media only screen and (max-width: 650px) {
  body { 
      overflow-x: hidden;
  }
  nav ul {
      list-style-type: none;
  }
  li a{
      text-decoration: none;
      text-align: center;
  }
  li a:hover{
      text-decoration: none;
  }
  li{
      font-size: 15px;
      padding-left:5px;
      text-align: center;
      padding:20px;
  }
  nav{
      text-align: center;
  }
  #poravnanje{
      display:block;
  }
  li a::after {
      content: '';
      width: 0px;
      height: 1px;
      display: block;
      background: rgb(31, 139, 70);
      transition: 300ms;
  }
  li a:hover::after {
      width: 100%;
  }
  .pocetna{
      background-image: url("img/naslovna1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      width:100%;
      height: 210vh;
  }
  button{
      width:50%;
      text-align: center;
  }

}

